<script type="text/ng-template" id="typeaheadTemplate.html">
  <a>
      <span ng-bind-html="match.model.val | uibTypeaheadHighlight:query"></span>
      <span ng-if="match.model.desc">(<span ng-bind-html="match.model.desc | uibTypeaheadHighlight:query"></span>)</span>
  </a>
</script>

<div ng-if="$ctrl.term.term_type == 'expr'" class="row">
  <div class="col-sm-3">
    <select class="form-control" ng-options="o.val as o.desc group by o.category for o in $ctrl.categories" ng-model="$ctrl.term.category"></select>
  </div>
  <div class="col-sm-4">
    <input type="text" class="form-control" ng-model="$ctrl.term.term"
      ng-disabled="$ctrl.term.category == ''"
      placeholder="{{$ctrl.term.category != '' ? 'search term': 'please select category'}}"
      uib-typeahead="term.val for term in $ctrl.getTerms($viewValue)"
      typeahead-loading="loadingTerm" typeahead-no-results="noTermFound" typeahead-template-url="typeaheadTemplate.html">
    <i ng-show="loadingTerm" class="fa fa-refresh"></i>
    <div ng-show="noTermFound">
      <i class="fa fa-times"></i> No resuts.
    </div>
  </div>
  <div class="col-sm-1 col-sm-offset-3">
    <button class="btn btn-default" ng-click="$ctrl.add()"><i class="fa fa-plus"></i> Add term</button>
  </div>
</div>
<div ng-if="$ctrl.term.term_type == 'op'">
  <ul class="list-group">
    <li class="list-group-item row">
      <mibig-query-term term="$ctrl.term.left" class="col-lg-10"></mibig-query-term>
      <div ng-if="$ctrl.term.left.term_type == 'expr'" class="col-lg-2">
        <button class="btn btn-default" ng-click="$ctrl.remove($ctrl.term.left)"><i class="fa fa-trash"></i> Remove term</button>
      </div>
    </li>
    <li class="query-operation row">
      <div class="btn-group col-sm-4">
        <label class="btn btn-info" ng-model="$ctrl.term.operation" uib-btn-radio="'and'">AND</label>
        <label class="btn btn-info" ng-model="$ctrl.term.operation" uib-btn-radio="'or'">OR</label>
        <label class="btn btn-info" ng-model="$ctrl.term.operation" uib-btn-radio="'except'">EXCEPT</label>
      </div>
      <div class="col-sm-2 col-sm-offset-5">
        <button class="btn btn-default" ng-click="$ctrl.swap()"><i class="fa fa-refresh"></i> Swap terms</button>
      </div>
    </li>
    <li class="list-group-item row">
      <mibig-query-term term="$ctrl.term.right" class="col-lg-10"></mibig-query-term>
      <div ng-if="$ctrl.term.right.term_type == 'expr'" class="col-lg-2">
        <button class="btn btn-default" ng-click="$ctrl.remove($ctrl.term.right)"><i class="fa fa-trash"></i> Remove term</button>
      </div>
    </li>
  </ul>
</div>

