<div class="row" id="stats-general">
  <h3>General statistics <small>database contains</small></h3>
  <ul class="list-group">
    <li class="list-group-item col-md-12 stats-top">
      <span class="stats-definition-term">Total Secondary Metabolite Clusters:</span>
      <span class="stats-definition-data text-info">
        <a ui-sref="repository">{{$ctrl.stats.total}}</a>
      </span>
    </li>
    <li class="list-group-item col-md-6">
      <span class="stats-definition-term">Minimal entries:</span>
      <span class="stats-definition-data text-info">
        <a ng-click="$ctrl.goTo('[minimal]true')">{{$ctrl.stats.minimal}}</a>
      </span>
    </li>
    <li class="list-group-item col-md-6">
      <span class="stats-definition-term">Non-minimal entries:</span>
      <span class="stats-definition-data text-info">
        <a ng-click="$ctrl.goTo('[minimal]false')">{{$ctrl.stats.non_minimal}}</a>
      </span>
    </li>
    <li class="list-group-item col-md-6">
      <span class="stats-definition-term">Complete entries:</span>
      <span class="stats-definition-data text-info">
        <a ng-click="$ctrl.goTo('[completeness]complete')">{{$ctrl.stats.complete}}</a>
      </span>
    </li>
    <li class="list-group-item col-md-6">
      <span class="stats-definition-term">Incomplete entries:</span>
      <span class="stats-definition-data text-info">
        <a ng-click="$ctrl.goTo('[completeness]incomplete')">{{$ctrl.stats.incomplete}}</a>
      </span>
    </li>
    <li class="list-group-item col-md-6">
      <span class="stats-definition-term">Retired entries:</span>
      <span class="stats-definition-data text-info">
        <a ng-click="$ctrl.goTo('[status]retired')">{{$ctrl.stats.retired}}</a>
      </span>
    </li>
    <li class="list-group-item col-md-6">
      <span class="stats-definition-term">Pending entries:</span>
      <span class="stats-definition-data text-info">
        <a ng-click="$ctrl.goTo('[status]pending')">{{$ctrl.stats.pending}}</a>
      </span>
    </li>
  </ul>
</div>
